In [31]:
import pandas as pd
import json
# with open('/root/trading_systems/kucoin_dir/kucoin_data_collection_v1/2024-11-19_10-00_BFT/BTF_data_match.json','r')as f:
#     data = json.load(f)
with open('/root/trading_systems/kucoin_dir/kucoin_release_data_initial/2024-11-27_11-00_WOD/WOD_level2_data.json','r')as f:
    data = json.load(f)
# with open('/root/trading_systems/kucoin_dir/kucoin_data_collection_v1/2024-11-22_11-00_SLERF/SLERF_match_data.json','r')as f:
#     data = json.load(f)
#
data = data['data']

In [32]:

df = pd.DataFrame(data)
df

,changes,sequenceEnd,sequenceStart,symbol,time,time_received
0,"{'asks': [], 'bids': [['0.1', '10495', '5']]}",5,5,WOD-USDT,1732705200010,11:00:00.0579
1,"{'asks': [], 'bids': [['0.1', '31485', '7']]}",7,6,WOD-USDT,1732705200019,11:00:00.0580
2,"{'asks': [], 'bids': [['0.05', '659058', '8']]}",8,8,WOD-USDT,1732705200021,11:00:00.0586
3,"{'asks': [], 'bids': [['0.1', '41980', '9']]}",9,9,WOD-USDT,1732705200025,11:00:00.0628
4,"{'asks': [], 'bids': [['0.1', '52475', '10']]}",10,10,WOD-USDT,1732705200029,11:00:00.0671
...,...,...,...,...,...,...
5931,"{'asks': [], 'bids': [['0.52222', '558.4', '63...",6352,6352,WOD-USDT,1732705498686,11:04:58.7244
5932,"{'asks': [], 'bids': [['0.2499', '0', '6353']]}",6353,6353,WOD-USDT,1732705499317,11:04:59.3551
5933,"{'asks': [], 'bids': [['0.52222', '548.4', '63...",6354,6354,WOD-USDT,1732705499418,11:04:59.4560
5934,"{'asks': [], 'bids': [['0', '0', '6355'], ['0....",6356,6355,WOD-USDT,1732705499449,11:04:59.4869
5935,"{'asks': [], 'bids': [['0.24276', '267.7', '63...",6357,6357,WOD-USDT,1732705499783,11:04:59.8207

In [33]:
import datetime
def convert(timestamp):
    # Determine the length of the timestamp to identify its unit
    length = len(str(int(timestamp)))

    if length > 18:
        # Nanoseconds
        time_in_seconds = int(timestamp) / 1_000_000_000_000
    elif length > 15:
        # Microseconds
        time_in_seconds = int(timestamp) / 1_000_000_000
    elif length > 12:
        # Milliseconds
        time_in_seconds = int(timestamp) / 1_000
    else:
        # Seconds
        time_in_seconds = int(timestamp)

    # Convert to a datetime object
    human_readable_time = datetime.datetime.fromtimestamp(time_in_seconds)
    readable_time = human_readable_time.strftime('%H:%M:%S.%f')

    return readable_time

df['time'] = df['time'].apply(convert)
df

,changes,sequenceEnd,sequenceStart,symbol,time,time_received
0,"{'asks': [], 'bids': [['0.1', '10495', '5']]}",5,5,WOD-USDT,11:00:00.010000,11:00:00.0579
1,"{'asks': [], 'bids': [['0.1', '31485', '7']]}",7,6,WOD-USDT,11:00:00.019000,11:00:00.0580
2,"{'asks': [], 'bids': [['0.05', '659058', '8']]}",8,8,WOD-USDT,11:00:00.021000,11:00:00.0586
3,"{'asks': [], 'bids': [['0.1', '41980', '9']]}",9,9,WOD-USDT,11:00:00.025000,11:00:00.0628
4,"{'asks': [], 'bids': [['0.1', '52475', '10']]}",10,10,WOD-USDT,11:00:00.029000,11:00:00.0671
...,...,...,...,...,...,...
5931,"{'asks': [], 'bids': [['0.52222', '558.4', '63...",6352,6352,WOD-USDT,11:04:58.686000,11:04:58.7244
5932,"{'asks': [], 'bids': [['0.2499', '0', '6353']]}",6353,6353,WOD-USDT,11:04:59.317000,11:04:59.3551
5933,"{'asks': [], 'bids': [['0.52222', '548.4', '63...",6354,6354,WOD-USDT,11:04:59.418000,11:04:59.4560
5934,"{'asks': [], 'bids': [['0', '0', '6355'], ['0....",6356,6355,WOD-USDT,11:04:59.449000,11:04:59.4869
5935,"{'asks': [], 'bids': [['0.24276', '267.7', '63...",6357,6357,WOD-USDT,11:04:59.783000,11:04:59.8207

In [34]:
changes_column = df['changes'].iloc[0]

changes_column

def check_ask(row):
    if row['changes']['asks']:
        return row['changes']['asks']

def check_bid(row):
    if row['changes']['bids']:
        return row['changes']['bids']


df['asks_change'] = df.apply(check_ask, axis=1)
df['bids_change'] = df.apply(check_bid, axis=1)
df['timestamp'] = df['time']
df.head(50)
df_ba = df.copy()

# condition = df['asks'].notna()
# df = df[condition]
# df.head(50)

In [35]:
columns_to_drop = ['time','symbol','changes','sequenceEnd','sequenceStart']
df_ba.drop(columns=columns_to_drop, inplace=True)
# df_ba.drop(columns=['sequenceStart'], inplace=True)

In [36]:
df_ba

,time_received,asks_change,bids_change,timestamp
0,11:00:00.0579,None,"[[0.1, 10495, 5]]",11:00:00.010000
1,11:00:00.0580,None,"[[0.1, 31485, 7]]",11:00:00.019000
2,11:00:00.0586,None,"[[0.05, 659058, 8]]",11:00:00.021000
3,11:00:00.0628,None,"[[0.1, 41980, 9]]",11:00:00.025000
4,11:00:00.0671,None,"[[0.1, 52475, 10]]",11:00:00.029000
...,...,...,...,...
5931,11:04:58.7244,None,"[[0.52222, 558.4, 6352]]",11:04:58.686000
5932,11:04:59.3551,None,"[[0.2499, 0, 6353]]",11:04:59.317000
5933,11:04:59.4560,None,"[[0.52222, 548.4, 6354]]",11:04:59.418000
5934,11:04:59.4869,None,"[[0, 0, 6355], [0.52223, 10, 6356]]",11:04:59.449000
5935,11:04:59.8207,None,"[[0.24276, 267.7, 6357]]",11:04:59.783000

In [37]:
df_ba_multi = df_ba.stack()
df_ba_multi

0     time_received                          11:00:00.0579
      bids_change                        [[0.1, 10495, 5]]
      timestamp                            11:00:00.010000
1     time_received                          11:00:00.0580
      bids_change                        [[0.1, 31485, 7]]
                                      ...
5934  bids_change      [[0, 0, 6355], [0.52223, 10, 6356]]
      timestamp                            11:04:59.449000
5935  time_received                          11:04:59.8207
      bids_change                 [[0.24276, 267.7, 6357]]
      timestamp                            11:04:59.783000
Length: 17861, dtype: object

In [38]:
df_ba_multi.rename('level2')

0     time_received                          11:00:00.0579
      bids_change                        [[0.1, 10495, 5]]
      timestamp                            11:00:00.010000
1     time_received                          11:00:00.0580
      bids_change                        [[0.1, 31485, 7]]
                                      ...
5934  bids_change      [[0, 0, 6355], [0.52223, 10, 6356]]
      timestamp                            11:04:59.449000
5935  time_received                          11:04:59.8207
      bids_change                 [[0.24276, 267.7, 6357]]
      timestamp                            11:04:59.783000
Name: level2, Length: 17861, dtype: object

In [39]:
data_sample = {
    'A': [1, 2, 3, 4],
    'B': ['a', 'b', 'c', 'd'],
    'C': [1.1, 2.2, 3.3, 4.4]
}
df_sample = pd.DataFrame(data_sample)
df_sample

   A  B    C
0  1  a  1.1
1  2  b  2.2
2  3  c  3.3
3  4  d  4.4

In [51]:
df_vertical = pd.concat([df_sample, df_ba], axis=1)
# Combine cells in each row into a new column 'Combined'
df_vertical['Combined'] = df.apply(lambda row: f"{row['time_received']}_{row['asks_change']}_{row['bids_change']}", axis=1)
df_vertical

,A,B,C,time_received,asks_change,bids_change,timestamp,Combined
0,1.0,a,1.1,11:00:00.0579,None,"[[0.1, 10495, 5]]",11:00:00.010000,"11:00:00.0579_None_[['0.1', '10495', '5']]"
1,2.0,b,2.2,11:00:00.0580,None,"[[0.1, 31485, 7]]",11:00:00.019000,"11:00:00.0580_None_[['0.1', '31485', '7']]"
2,3.0,c,3.3,11:00:00.0586,None,"[[0.05, 659058, 8]]",11:00:00.021000,"11:00:00.0586_None_[['0.05', '659058', '8']]"
3,4.0,d,4.4,11:00:00.0628,None,"[[0.1, 41980, 9]]",11:00:00.025000,"11:00:00.0628_None_[['0.1', '41980', '9']]"
4,NaN,NaN,NaN,11:00:00.0671,None,"[[0.1, 52475, 10]]",11:00:00.029000,"11:00:00.0671_None_[['0.1', '52475', '10']]"
...,...,...,...,...,...,...,...,...
5931,NaN,NaN,NaN,11:04:58.7244,None,"[[0.52222, 558.4, 6352]]",11:04:58.686000,"11:04:58.7244_None_[['0.52222', '558.4', '6352']]"
5932,NaN,NaN,NaN,11:04:59.3551,None,"[[0.2499, 0, 6353]]",11:04:59.317000,"11:04:59.3551_None_[['0.2499', '0', '6353']]"
5933,NaN,NaN,NaN,11:04:59.4560,None,"[[0.52222, 548.4, 6354]]",11:04:59.418000,"11:04:59.4560_None_[['0.52222', '548.4', '6354']]"
5934,NaN,NaN,NaN,11:04:59.4869,None,"[[0, 0, 6355], [0.52223, 10, 6356]]",11:04:59.449000,"11:04:59.4869_None_[['0', '0', '6355'], ['0.52..."
5935,NaN,NaN,NaN,11:04:59.8207,None,"[[0.24276, 267.7, 6357]]",11:04:59.783000,"11:04:59.8207_None_[['0.24276', '267.7', '6357']]"

In [50]:
df_vertical = pd.concat([df_sample, df_ba_multi], axis=1)
df_vertical

                         A    B    C                                    0
0                      1.0    a  1.1                                  NaN
1                      2.0    b  2.2                                  NaN
2                      3.0    c  3.3                                  NaN
3                      4.0    d  4.4                                  NaN
(0, time_received)     NaN  NaN  NaN                        11:00:00.0579
...                    ...  ...  ...                                  ...
(5934, bids_change)    NaN  NaN  NaN  [[0, 0, 6355], [0.52223, 10, 6356]]
(5934, timestamp)      NaN  NaN  NaN                      11:04:59.449000
(5935, time_received)  NaN  NaN  NaN                        11:04:59.8207
(5935, bids_change)    NaN  NaN  NaN             [[0.24276, 267.7, 6357]]
(5935, timestamp)      NaN  NaN  NaN                      11:04:59.783000

[17865 rows x 4 columns]

In [52]:
import pandas as pd

# Simulate a multi-level structure
data = [
    (0, 'time_received', '11:00:00.0579'),
    (0, 'bids_change', [[0.1, 10495, 5]]),
    (0, 'timestamp', '11:00:00.010000'),
    (1, 'time_received', '11:00:00.0580'),
    (1, 'bids_change', [[0.1, 31485, 7]]),
    (1, 'timestamp', '11:00:00.020000'),
    (2, 'bids_change', [[0, 0, 6355], [0.52223, 10, 6356]]),
    (2, 'timestamp', '11:04:59.449000'),
    (3, 'time_received', '11:04:59.8207'),
    (3, 'bids_change', [[0.24276, 267.7, 6357]]),
    (3, 'timestamp', '11:04:59.783000')
]

# Create a multi-level DataFrame
multi_level_df = pd.DataFrame(data, columns=['index', 'attribute', 'value'])
multi_level_df = multi_level_df.set_index(['index', 'attribute'])

# Create a DataFrame column with sub-DataFrames
def create_sub_dataframe(index):
    sub_df = multi_level_df.loc[index].reset_index()
    return sub_df

# Apply the function to create sub-DataFrames for each index
level2 = pd.Series({idx: create_sub_dataframe(idx) for idx in multi_level_df.index.get_level_values(0).unique()})

# Simulate the `data_sample` DataFrame
data_sample = {
    'A': [1, 2, 3, 4],
    'B': ['a', 'b', 'c', 'd'],
    'C': [1.1, 2.2, 3.3, 4.4]
}

data_sample_df = pd.DataFrame(data_sample)

# Combine the two DataFrames
level2_df = pd.DataFrame({'level2': level2})
combined_df = pd.concat([data_sample_df, level2_df], axis=1)

# Display the combined DataFrame
print(combined_df)

# Example: Access the nested DataFrame for the first row
print("\nNested DataFrame in 'level2' column for the first row:")
print(combined_df.loc[0, 'level2'])

   A  B    C                                             level2
0  1  a  1.1         attribute              value
0  time_re...
1  2  b  2.2         attribute              value
0  time_re...
2  3  c  3.3       attribute                                ...
3  4  d  4.4         attribute                     value
0  ...

Nested DataFrame in 'level2' column for the first row:
       attribute              value
0  time_received      11:00:00.0579
1    bids_change  [[0.1, 10495, 5]]
2      timestamp    11:00:00.010000