In [2]:
import pandas as pd
import json
# with open('/root/trading_systems/kucoin_dir/kucoin_data_collection_v1/2024-11-19_10-00_BFT/BTF_data_match.json','r')as f:
#     data = json.load(f)
with open('/root/trading_systems/kucoin_dir/kucoin_release_data_initial/2024-11-27_11-00_WOD/WOD_level2Depth5_data.json','r')as f:
    data = json.load(f)
# with open('/root/trading_systems/kucoin_dir/kucoin_data_collection_v1/2024-11-22_11-00_SLERF/SLERF_match_data.json','r')as f:
#     data = json.load(f)
#
data = data['data']

In [3]:

df = pd.DataFrame(data)
df

,asks,bids,timestamp,time_received
0,[],"[[0.1, 52475], [0.05, 659058]]",1732705200048,11:00:00.1382
1,[],"[[0.1, 73465], [0.05, 659058]]",1732705200065,11:00:00.1445
2,[],"[[0.15, 6666], [0.1, 119949], [0.071, 28112.6]...",1732705200148,11:00:00.1847
3,[],"[[0.15, 6666], [0.135, 15000], [0.11, 20000], ...",1732705200246,11:00:00.2831
4,[],"[[1, 44], [0.6, 10], [0.15, 6666], [0.135, 150...",1732705200351,11:00:00.3879
...,...,...,...,...
1989,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52222, 10], [0.5222, 196.9], ...",1732705498648,11:04:58.6838
1990,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52222, 558.4], [0.5222, 196.9...",1732705498752,11:04:58.7886
1991,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52222, 558.4], [0.5222, 196.9...",1732705499385,11:04:59.4215
1992,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52223, 10], [0.52222, 548.4],...",1732705499488,11:04:59.5239
1993,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52223, 10], [0.52222, 548.4],...",1732705499833,11:04:59.8694

In [4]:
import datetime
def convert(timestamp):
    # Determine the length of the timestamp to identify its unit
    length = len(str(int(timestamp)))

    if length > 18:
        # Nanoseconds
        time_in_seconds = int(timestamp) / 1_000_000_000_000
    elif length > 15:
        # Microseconds
        time_in_seconds = int(timestamp) / 1_000_000_000
    elif length > 12:
        # Milliseconds
        time_in_seconds = int(timestamp) / 1_000
    else:
        # Seconds
        time_in_seconds = int(timestamp)

    # Convert to a datetime object
    human_readable_time = datetime.datetime.fromtimestamp(time_in_seconds)
    readable_time = human_readable_time.strftime('%H:%M:%S.%f')

    return readable_time

df['timestamp'] = df['timestamp'].apply(convert)
df

,asks,bids,timestamp,time_received
0,[],"[[0.1, 52475], [0.05, 659058]]",11:00:00.048000,11:00:00.1382
1,[],"[[0.1, 73465], [0.05, 659058]]",11:00:00.065000,11:00:00.1445
2,[],"[[0.15, 6666], [0.1, 119949], [0.071, 28112.6]...",11:00:00.148000,11:00:00.1847
3,[],"[[0.15, 6666], [0.135, 15000], [0.11, 20000], ...",11:00:00.246000,11:00:00.2831
4,[],"[[1, 44], [0.6, 10], [0.15, 6666], [0.135, 150...",11:00:00.351000,11:00:00.3879
...,...,...,...,...
1989,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52222, 10], [0.5222, 196.9], ...",11:04:58.648000,11:04:58.6838
1990,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52222, 558.4], [0.5222, 196.9...",11:04:58.752000,11:04:58.7886
1991,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52222, 558.4], [0.5222, 196.9...",11:04:59.385000,11:04:59.4215
1992,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52223, 10], [0.52222, 548.4],...",11:04:59.488000,11:04:59.5239
1993,"[[0.559, 17.8], [0.56135, 521.6], [0.56136, 21...","[[0.55, 1.8], [0.52223, 10], [0.52222, 548.4],...",11:04:59.833000,11:04:59.8694