In [119]:
import pandas as pd
import numpy as np
import json
# with open('/root/trading_systems/kucoin_dir/kucoin_data_collection_v1/2024-11-19_10-00_BFT/BTF_data_match.json','r')as f:
#     data = json.load(f)
with open('/root/trading_systems/kucoin_dir/kucoin_release_data_initial/2024-11-27_11-00_WOD/WOD_level2_data.json','r')as f:
    data = json.load(f)
# with open('/root/trading_systems/kucoin_dir/kucoin_data_collection_v1/2024-11-22_11-00_SLERF/SLERF_match_data.json','r')as f:
#     data = json.load(f)
#
data = data['data']

In [120]:

df = pd.DataFrame(data)
df

,changes,sequenceEnd,sequenceStart,symbol,time,time_received
0,"{'asks': [], 'bids': [['0.1', '10495', '5']]}",5,5,WOD-USDT,1732705200010,11:00:00.0579
1,"{'asks': [], 'bids': [['0.1', '31485', '7']]}",7,6,WOD-USDT,1732705200019,11:00:00.0580
2,"{'asks': [], 'bids': [['0.05', '659058', '8']]}",8,8,WOD-USDT,1732705200021,11:00:00.0586
3,"{'asks': [], 'bids': [['0.1', '41980', '9']]}",9,9,WOD-USDT,1732705200025,11:00:00.0628
4,"{'asks': [], 'bids': [['0.1', '52475', '10']]}",10,10,WOD-USDT,1732705200029,11:00:00.0671
...,...,...,...,...,...,...
5931,"{'asks': [], 'bids': [['0.52222', '558.4', '63...",6352,6352,WOD-USDT,1732705498686,11:04:58.7244
5932,"{'asks': [], 'bids': [['0.2499', '0', '6353']]}",6353,6353,WOD-USDT,1732705499317,11:04:59.3551
5933,"{'asks': [], 'bids': [['0.52222', '548.4', '63...",6354,6354,WOD-USDT,1732705499418,11:04:59.4560
5934,"{'asks': [], 'bids': [['0', '0', '6355'], ['0....",6356,6355,WOD-USDT,1732705499449,11:04:59.4869
5935,"{'asks': [], 'bids': [['0.24276', '267.7', '63...",6357,6357,WOD-USDT,1732705499783,11:04:59.8207

In [121]:
import datetime
def convert(timestamp):
    # Determine the length of the timestamp to identify its unit
    length = len(str(int(timestamp)))

    if length > 18:
        # Nanoseconds
        time_in_seconds = int(timestamp) / 1_000_000_000_000
    elif length > 15:
        # Microseconds
        time_in_seconds = int(timestamp) / 1_000_000_000
    elif length > 12:
        # Milliseconds
        time_in_seconds = int(timestamp) / 1_000
    else:
        # Seconds
        time_in_seconds = int(timestamp)

    # Convert to a datetime object
    human_readable_time = datetime.datetime.fromtimestamp(time_in_seconds)
    readable_time = human_readable_time.strftime('%H:%M:%S.%f')

    return readable_time

# Convert the 'time' column to a string
df['time'] = df['time'].astype(str)
# Apply the conversion function if ':' is not in any of the values
if not df['time'].str.contains(':').any():
    df['time'] = df['time'].apply(convert)

#convert changes column to dict 
# Convert each list of tuples to a dictionary using map
df['changes'] = df['changes'].map(dict)
print(type(df.changes))

print(df.info())
df

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5936 entries, 0 to 5935
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   changes        5936 non-null   object
 1   sequenceEnd    5936 non-null   int64
 2   sequenceStart  5936 non-null   int64
 3   symbol         5936 non-null   object
 4   time           5936 non-null   object
 5   time_received  5936 non-null   object
dtypes: int64(2), object(4)
memory usage: 278.4+ KB
None

,changes,sequenceEnd,sequenceStart,symbol,time,time_received
0,"{'asks': [], 'bids': [['0.1', '10495', '5']]}",5,5,WOD-USDT,11:00:00.010000,11:00:00.0579
1,"{'asks': [], 'bids': [['0.1', '31485', '7']]}",7,6,WOD-USDT,11:00:00.019000,11:00:00.0580
2,"{'asks': [], 'bids': [['0.05', '659058', '8']]}",8,8,WOD-USDT,11:00:00.021000,11:00:00.0586
3,"{'asks': [], 'bids': [['0.1', '41980', '9']]}",9,9,WOD-USDT,11:00:00.025000,11:00:00.0628
4,"{'asks': [], 'bids': [['0.1', '52475', '10']]}",10,10,WOD-USDT,11:00:00.029000,11:00:00.0671
...,...,...,...,...,...,...
5931,"{'asks': [], 'bids': [['0.52222', '558.4', '63...",6352,6352,WOD-USDT,11:04:58.686000,11:04:58.7244
5932,"{'asks': [], 'bids': [['0.2499', '0', '6353']]}",6353,6353,WOD-USDT,11:04:59.317000,11:04:59.3551
5933,"{'asks': [], 'bids': [['0.52222', '548.4', '63...",6354,6354,WOD-USDT,11:04:59.418000,11:04:59.4560
5934,"{'asks': [], 'bids': [['0', '0', '6355'], ['0....",6356,6355,WOD-USDT,11:04:59.449000,11:04:59.4869
5935,"{'asks': [], 'bids': [['0.24276', '267.7', '63...",6357,6357,WOD-USDT,11:04:59.783000,11:04:59.8207

In [122]:
changes_column = df['changes'].iloc[0]

changes_column

def check_ask(row):
    if row['changes']['asks']:
        return row['changes']['asks']

def check_bid(row):
    if row['changes']['bids']:
        return row['changes']['bids']


df['asks_change'] = df.apply(check_ask, axis=1)
df['bids_change'] = df.apply(check_bid, axis=1)
df.rename(columns={'time':'timestamp'}, inplace=True)
df_ba = df.copy()
df
df_ba

,changes,sequenceEnd,sequenceStart,symbol,timestamp,time_received,asks_change,bids_change
0,"{'asks': [], 'bids': [['0.1', '10495', '5']]}",5,5,WOD-USDT,11:00:00.010000,11:00:00.0579,None,"[[0.1, 10495, 5]]"
1,"{'asks': [], 'bids': [['0.1', '31485', '7']]}",7,6,WOD-USDT,11:00:00.019000,11:00:00.0580,None,"[[0.1, 31485, 7]]"
2,"{'asks': [], 'bids': [['0.05', '659058', '8']]}",8,8,WOD-USDT,11:00:00.021000,11:00:00.0586,None,"[[0.05, 659058, 8]]"
3,"{'asks': [], 'bids': [['0.1', '41980', '9']]}",9,9,WOD-USDT,11:00:00.025000,11:00:00.0628,None,"[[0.1, 41980, 9]]"
4,"{'asks': [], 'bids': [['0.1', '52475', '10']]}",10,10,WOD-USDT,11:00:00.029000,11:00:00.0671,None,"[[0.1, 52475, 10]]"
...,...,...,...,...,...,...,...,...
5931,"{'asks': [], 'bids': [['0.52222', '558.4', '63...",6352,6352,WOD-USDT,11:04:58.686000,11:04:58.7244,None,"[[0.52222, 558.4, 6352]]"
5932,"{'asks': [], 'bids': [['0.2499', '0', '6353']]}",6353,6353,WOD-USDT,11:04:59.317000,11:04:59.3551,None,"[[0.2499, 0, 6353]]"
5933,"{'asks': [], 'bids': [['0.52222', '548.4', '63...",6354,6354,WOD-USDT,11:04:59.418000,11:04:59.4560,None,"[[0.52222, 548.4, 6354]]"
5934,"{'asks': [], 'bids': [['0', '0', '6355'], ['0....",6356,6355,WOD-USDT,11:04:59.449000,11:04:59.4869,None,"[[0, 0, 6355], [0.52223, 10, 6356]]"
5935,"{'asks': [], 'bids': [['0.24276', '267.7', '63...",6357,6357,WOD-USDT,11:04:59.783000,11:04:59.8207,None,"[[0.24276, 267.7, 6357]]"

In [123]:
columns_to_drop = ['symbol','changes','sequenceEnd','sequenceStart']
df_ba.drop(columns=columns_to_drop, inplace=True)
df_ba

,timestamp,time_received,asks_change,bids_change
0,11:00:00.010000,11:00:00.0579,None,"[[0.1, 10495, 5]]"
1,11:00:00.019000,11:00:00.0580,None,"[[0.1, 31485, 7]]"
2,11:00:00.021000,11:00:00.0586,None,"[[0.05, 659058, 8]]"
3,11:00:00.025000,11:00:00.0628,None,"[[0.1, 41980, 9]]"
4,11:00:00.029000,11:00:00.0671,None,"[[0.1, 52475, 10]]"
...,...,...,...,...
5931,11:04:58.686000,11:04:58.7244,None,"[[0.52222, 558.4, 6352]]"
5932,11:04:59.317000,11:04:59.3551,None,"[[0.2499, 0, 6353]]"
5933,11:04:59.418000,11:04:59.4560,None,"[[0.52222, 548.4, 6354]]"
5934,11:04:59.449000,11:04:59.4869,None,"[[0, 0, 6355], [0.52223, 10, 6356]]"
5935,11:04:59.783000,11:04:59.8207,None,"[[0.24276, 267.7, 6357]]"