In [2]:
import pandas as pd 

# load pickle data 
df_new = pd.read_pickle('/Users/andre/Documents/Python/trading_clone_singapore_DO/trading_singapore_digitalocean/vectorBT/new.pkl')
df_old = pd.read_pickle('/Users/andre/Documents/Python/trading_clone_singapore_DO/trading_singapore_digitalocean/vectorBT/old.pkl')
df_new

ma_rsi_ma1_fast            50
ma_rsi_ma2_slow           400
ma_rsi_rsi_buy             70
ma_rsi_rsi_window          14  7
timestamp
2019-01-01 00:00:00+00:00   0   0
2019-01-01 04:00:00+00:00   0   0
2019-01-01 08:00:00+00:00   0   0
2019-01-01 12:00:00+00:00   0   0
2019-01-01 16:00:00+00:00   0   0
...                        ..  ..
2024-12-25 16:00:00+00:00  50  50
2024-12-25 20:00:00+00:00   0   0
2024-12-26 00:00:00+00:00  50  50
2024-12-26 04:00:00+00:00  50  50
2024-12-26 08:00:00+00:00  50  50

[13119 rows x 2 columns]

In [8]:
df_new = df_new.iloc[:-5]
df_new

ma_rsi_ma1_fast            50
ma_rsi_ma2_slow           400
ma_rsi_rsi_buy             70
ma_rsi_rsi_window          14  7
timestamp
2019-01-01 00:00:00+00:00   0   0
2019-01-01 04:00:00+00:00   0   0
2019-01-01 08:00:00+00:00   0   0
2019-01-01 12:00:00+00:00   0   0
2019-01-01 16:00:00+00:00   0   0
...                        ..  ..
2024-12-24 20:00:00+00:00  50  50
2024-12-25 00:00:00+00:00  50  50
2024-12-25 04:00:00+00:00  50  50
2024-12-25 08:00:00+00:00  50  50
2024-12-25 12:00:00+00:00  50  50

[13114 rows x 2 columns]

In [3]:
df_old

ma_rsi_ma1_fast            50
ma_rsi_ma2_slow           400
ma_rsi_rsi_buy             70
ma_rsi_rsi_window          14  7
Open time
2019-01-01 00:00:00+00:00   0   0
2019-01-01 04:00:00+00:00   0   0
2019-01-01 08:00:00+00:00   0   0
2019-01-01 12:00:00+00:00   0   0
2019-01-01 16:00:00+00:00   0   0
...                        ..  ..
2024-12-24 20:00:00+00:00  50  50
2024-12-25 00:00:00+00:00  50  50
2024-12-25 04:00:00+00:00  50  50
2024-12-25 08:00:00+00:00  50  50
2024-12-25 12:00:00+00:00  50  50

[13114 rows x 2 columns]

In [9]:
# Compare the DataFrames
diff = df_old.compare(df_new)

print(diff)

Empty DataFrame
Columns: []
Index: []